# Python bytecode
__pycache__/
*.py[cod]

# Data and Results (Omics data is too large/sensitive for Git)
data/
results/

# Environments
venv/
.env

# IDE settings
.vscode/
.idea/

# Build and distribution files
build/
dist/
*.egg-info/
