name: CI Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Run Tests
      run: |
        # This command finds all files starting with test_ in the tests/ folder
        export PYTHONPATH=$PYTHONPATH:src
        python3 -m unittest discover tests
